@font-face {
    font-family: Manrope;
    src: url(../fonts/static/Manrope-Bold.ttf);
    src: url(../fonts/static/Manrope-Medium.ttf);
    src: url(../fonts/static/Manrope-SemiBold.ttf);
    src: url(../fonts/static/Manrope-Regular.ttf);
    font-weight: normal;
}